<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>메뉴 등록 및 관리</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/management/menu.css}">


</head>
<body>
<div th:replace="~{/fragment/navbar.html :: navbar}" class="navbar"></div>
<div class="container">
    <div class="nav-buttons">
        <button type="button" class="btn">판매 내역</button>
        <button type="button" class="btn">예약 확인</button>
        <button type="button" class="btn">예약 상태</button>
        <button type="button" class="btn">웨이팅 상태</button>
        <button type="button" class="btn">매장 리뷰</button>
        <button type="button" class="btn-setting btn-secondary float-right">
            <img src="img/setting.png" alt="설정" aria-hidden="true">
        </button>
    </div>

    <div class="form-section">
        <h4>메뉴 등록</h4>
        <form>
            <div class="form-row">
                <div class="form-group col-md-3 text-center">
                    <!-- <label for="menuImage" class="d-block">사진첨부</label> -->
                    <div class="image-placeholder" onclick="document.getElementById('fileInput').click();">
                        <button type="button" class="btn-image btn-outline-secondary">사진 첨부</button>
                    </div>
                    <input type="file" id="fileInput" class="file-input" accept="image/*">
                </div>
                <div class="form-group-info col-md-9">
                    <label for="menuName">메뉴명</label>
                    <input type="text" class="form-control" id="menuName" placeholder="메뉴명을 입력해주세요.">
                    <label for="menuDescription" class="mt-3">메뉴 설명</label>
                    <input type="text" class="form-control" id="menuDescription" placeholder="메뉴에 대한 설명을 입력해주세요.">
                    <button type="submit" class="btn btn-primary mt-3 float-right">등록하기</button>
                </div>
            </div>
        </form>
    </div>

    <div class="menu-list-section">
        <h4>등록된 메뉴</h4>
        <div class="menu-item">
            <img src="img/dish1.jpg" alt="메뉴 이미지">
            <div class="menu-info">
                <h5>화산 마라 전골</h5>
                <p>화산 모양의 마라 전골</p>
            </div>
            <div>
                <button class="btn-modify btn-secondary btn-sm">메뉴 수정</button>
                <button class="btn-remove btn-danger btn-sm">메뉴 삭제</button>
            </div>
        </div>
        <div class="menu-item">
            <img src="img/dish2.jpg" alt="메뉴 이미지">
            <div class="menu-info">
                <h5>짬뽕 우삼겹 볶음</h5>
                <p>짬뽕을 볶은 요리</p>
            </div>
            <div>
                <button class="btn-modify btn-secondary btn-sm">메뉴 수정</button>
                <button class="btn-remove btn-danger btn-sm">메뉴 삭제</button>
            </div>
        </div>
        <!-- 추가 메뉴 항목을 여기에 추가 -->
    </div>
</div>
<div th:replace="~{/fragment/footer.html :: footer}" class="footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>
</body>
</html>
