<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>리뷰작성</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
        <link rel="stylesheet" th:href="@{/css/review/review.css}">
    </head>

    <body>
        <div th:replace="~{fragment/navbar.html :: navbar}" class="navbar"></div>

        <div class="container">
            <div class="review-form scale-up">
                <h2 class="mb-4" style="font-size: 2rem;" th:text="${review.restaurantInfo.restaurantName}"></h2>
                <input type="hidden" id="reviewNo" th:value="${review.reviewNo}">
                <input type="hidden" id="restaurantNo" th:value="${review.restaurantInfo.restaurantNo}">
                <input type="hidden" id="serviceType" >
                <input type="hidden" id="serviceNo" >
                <div class="mb-4 align-center">
                    <label for="star-rating" class="mr-3 mb-0" style="font-size: 1.5rem;">별점</label>
                    <div id="star-rating" class="star-rating">
                        <span class="fa fa-star" data-value="1"></span>
                        <span class="fa fa-star" data-value="2"></span>
                        <span class="fa fa-star" data-value="3"></span>
                        <span class="fa fa-star" data-value="4"></span>
                        <span class="fa fa-star" data-value="5"></span>
                    </div>
                </div>
                <div class="mb-4 align-center">
                    <label for="tags" class="mr-3 mb-0" style="font-size: 1.5rem;">태그</label>
                    <div id="tags">
                        <button type="button" class="btn btn-outline-danger tag-btn" data-tag="맛있어요">맛있어요</button>
                        <button type="button" class="btn btn-outline-danger tag-btn" data-tag="친절해요">친절해요</button>
                        <button type="button" class="btn btn-outline-danger tag-btn" data-tag="쾌적해요">쾌적해요</button>
                        <button type="button" class="btn btn-outline-danger tag-btn" data-tag="다시 갈래요">다시갈래요</button>
                        <button type="button" class="btn btn-outline-danger tag-btn" data-tag="분위기가 좋아요">분위기가 좋아요</button>
                    </div>
                    <input type="hidden" name="selectedTags" id="selectedTags" value="">
                </div>
                <div class="mb-4">
                    <label for="review-content" style="font-size: 1.5rem;">리뷰작성</label>
                    <textarea id="review-content" class="form-control review-box" rows="5"
                              placeholder="리뷰를 작성해주세요..." th:field="${review.reviewContent}"></textarea>
                </div>
                <!-- 파일 업로드 필드 -->
                <div class="mb-4">
                    <label for="file" style="font-size: 1.5rem;">사진 업로드</label>
                    <input type="file" name="file" id="file" class="form-control-file">
                </div>
                <button th:if="${review.reviewNo} eq 0" type="button" class="btn btn-register" id="registerBtn">등록하기</button>
                <button th:unless="${review.reviewNo} eq 0" type="button" class="btn btn-register" id="updateBtn">수정하기</button>
            </div>
        </div>
        <div th:replace="~{fragment/footer.html :: footer}" class="footer"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>
        <script type="text/javascript" th:src="@{/js/review/review.js}"></script>
    </body>
</html>
