<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 시스템</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/reservation/reservationCalendar.css}">
</head>
<body>

<div th:replace="~{/fragment/navbar.html :: navbar}" class="navbar"></div>

<div class="container">
    <div class="text-center section">
        <h4 class="section-title"><img src="/picture/person.png"/>  인원을 선택해 주세요</h4>
        <div class="people btn-group-toggle mb-4">
            <button type="button" class="btn btn-custom" data-value="3명">3명</button>
            <button type="button" class="btn btn-custom" data-value="4명">4명</button>
            <button type="button" class="btn btn-custom" data-value="5명">5명</button>
            <button type="button" class="btn btn-custom" data-value="6명">6명</button>
            <button type="button" class="btn btn-custom" data-value="7명">7명</button>
            <button type="button" class="btn btn-custom" data-value="8명">8명</button>
            <button type="button" class="btn btn-custom" data-value="9명">9명</button>
            <button type="button" class="btn btn-custom" data-value="10명">10명</button>
            <button type="button" class="btn btn-custom" data-value="11명">11명</button>
            <button type="button" class="btn btn-custom" data-value="12명">12명</button>
        </div>
    </div>

    <div class="calendar section">
        <div id="datepicker-container"></div>
    </div>

    <div class="text-center section">
        <h4 class="section-title"><img src="/picture/Calendar.png"/> 시간을 선택해 주세요</h4>
        <div class="time-selection mb-4">
            <button type="button" class="btn btn-custom">4:00</button>
            <button type="button" class="btn btn-custom">4:30</button>
            <button type="button" class="btn btn-custom">5:00</button>
            <button type="button" class="btn btn-custom">5:30</button>
            <button type="button" class="btn btn-custom">6:00</button>
            <button type="button" class="btn btn-custom">6:30</button>
            <button type="button" class="btn btn-custom">7:00</button>
            <button type="button" class="btn btn-custom">7:30</button>
            <button type="button" class="btn btn-custom">8:00</button>
            <button type="button" class="btn btn-custom">8:30</button>
        </div>
    </div>

    <div class="text-center mb-4">
        <button type="button" class="btn btn-outline-custom" id="reserve-button">예약하기</button>
    </div>
</div>

<div th:replace="~{/fragment/footer.html :: footer}" class="footer"></div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>
<script type="text/javascript" th:src="@{/js/reservation/reservationCalendar.js}"></script>
</body>
</html>
