spring:
  application:
    name: eataku

  datasource:
    url: jdbc:mysql://223.130.159.76:3306/oshinodb
    username: oshino
    password: oshino
    driver-class-name: com.mysql.cj.jdbc.Driver

cloud:
  aws:
    credentials:
      access-key: ncp_iam_BPASKRWxSTDaP4FehYOM
      secret-key: ncp_iam_BPKSKRJHikqfZbqxTJPD0W8tvPqhNKMS6T
    stack:
      auto: false
    region:
      static: kr-standard
    s3:
      endpoint: https://kr.object.ncloudstorage.com
      bucket: oshino-file