/* General styles */
.navbar-custom {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-width: 550px;
}

.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-custom .navbar-brand .brand-text {
    font-size: 16px;
    color: #FA4A54;
    font-weight: bold;
}

.navbar-custom .navbar-brand img {
    margin: 0 10px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    text-decoration: none;
    color: #FA4A54 !important;
}

.navbar-custom .nav-link:hover {
    color: #ff7a7a !important;
}

.navbar-custom .btn-login {
    background-color: #FA4A54;
    color: white;
    border-radius: 20px;
}

.navbar-custom .btn-login:hover {
    background-color: #ff7a7a;
}

/* Dropdown styles */
.dropdown-wrapper {
    position: relative;
    display: block;
}

.dropdown-arrow {
    display: none; /* Initially hide the arrow */
    position: absolute;
    /*top: -10px;*/
    right: 18px;
    width: 0;
    height: 0;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #FA4A54 transparent;
}

.dropdown-menu {
    width: 300px;
    right: 0;
    left: auto;
    border: 2px solid #FA4A54;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FA4A54;
    position: absolute;
    overflow: hidden;
    margin-top: 10px; /* Add margin to give space for the arrow */
}

.dropdown-menu-right {
    transform: translateX(0);
}

.notification-container {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    padding: 2px;
}

.dropdown-menu .notification {
    background-color: white;
    color: #333; /* 텍스트 색상 */
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 15px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #ddd; /* 경계선을 부드럽게 */
}

.notification-header {
    display: flex;
    align-items: center; /* 이미지와 텍스트가 세로로 정렬 */
    margin-bottom: 8px; /* 헤더와 텍스트 사이 간격 */
}

.notification img {
    width: 40px; /* 이미지 크기 설정 */
    height: 40px;
    /*border-radius: 50%; !* 이미지가 원형이 되도록 설정 *!*/
    margin-right: 10px; /* 이미지와 텍스트 사이의 간격 */
}

.notification-title-date {
    display: flex;
    flex-direction: column;
}

.notification-title {
    font-weight: bold;
    color: #333;
}

.notification-date {
    font-size: 12px;
    color: #888;
}

.notification-text {
    font-size: 14px;
    color: #666;
    line-height: 1.5; /* 텍스트 가독성 향상 */
}


.dropdown-menu .user-menu {
    background-color: white;
    color: #FA4A54;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 2px solid #FA4A54;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .user-menu:last-child {
    margin-bottom: 0;
}

.notification-container::-webkit-scrollbar {
    width: 8px;
}

.notification-container::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}

.notification-container::-webkit-scrollbar-track {
    background-color: #ff7a7a;
    border-radius: 10px;
}


.dropdown img {
    width: 30px;
}
.navbar-brand img {
    width: 31px;
}
.user-menu a {
    color: #FA4A54;
}

.nav-content {
    width: 100%;
    max-width: 150px;
}

.hidden {
    display: none;
}