<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>계정 정보 찾기</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/member/find.css}">
    </head>
    <body>

        <div class="card text-center">
            <div class="row">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img th:src="@{/images/oku.png}" alt="Icon" class="icon">
                </div>
                <div class="col-9 text-left">
                    <h3>계정 정보를 잃어버리셨군요</h3>
                    <p>걱정하지마세요. 제가 찾아 드릴게요.</p>
                </div>
            </div>
            <button class="btn mt-3" onclick="window.location.href='/find/id'">아이디 찾기</button>
            <button class="btn mt-3"  onclick="window.location.href='/find/pw'">비밀번호 찾기</button>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
