<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
  </head>
  <body>
    <div class="login-card text-center">
      <div class="card-body">
        <div class="toggle-container">
          <span class="toggle-label">매장으로 로그인</span>
          <label class="toggle-switch">
            <input type="checkbox" id="loginToggle">
            <span class="slider"></span>
          </label>
          <span class="toggle-label">사용자로 로그인</span>
        </div>
        <br>
        <div class="d-flex align-items-center text-left mb-4">
          <img th:src="@{/images/oku.png}" alt="Logo">
          <div class="ml-3">
            <h5>안녕하세요 식덕후입니다.</h5>
            <p>로그인 후 이용가능합니다.</p>
          </div>
        </div>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="id">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-dark">로그인</button>
        </form>
        <div class="options">
          <a href="#">아이디/비밀번호 찾기</a>
          <a href="#">회원가입</a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/member/login.js}"></script>

  </body>
</html>
