<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>마이페이지</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/member/myPage.css}">
        <style>

        </style>
    </head>
    <body>
        <div th:replace="~{fragment/navbar.html :: navbar}" class="navbar"></div>
        <div class="sidebar">
            <div class="sidebar-content">
            <h2>마이페이지</h2>
            <a href="/myInfo">개인정보수정</a>
            <a href="#badge">내 뱃지 보기</a>
            <a href="/myInfo/review">내 리뷰 보기</a>
            <a href="/myInfo/history">이용내역조회</a>
            <a href="/myInfo/list">내 리스트 관리</a>
        </div>
        </div>
        <div class="content">
            <div class="profile">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h3>팔로잉</h3>
                        <p th:text="${member.followingCnt}">100</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>팔로우</h3>
                        <p th:text="${member.followerCnt}">5K</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h3>등급</h3>
                        <img th:src="${member.animalUrl}" alt="등급 이미지" width="50">
                    </div>
                </div>
                <p th:text="${member.nickname}+'님은 '+${member.weight}+'kg입니다.'" class="col-md-8">OOO님은 150,000kg입니다.</p>
            </div>
            <div class="reservation" th:each="waitingInfo : ${member.waitingInfo}">
                <div>
                    <h5 class="d-inline">현재 예약 정보</h5>
                    <span class="badge-reservation mx-2">웨이팅</span>
                    <span th:text="${waitingInfo.waitingNumber} + '번째 순번'" class="card-time">N명 N번째 순번</span>
                </div>
                <div class="d-flex mt-3">
                    <img th:src="${waitingInfo.restaurantImgUrl}" alt="음식점 사진" class="mr-3">
                    <div class="info">
                        <h5 th:text="${waitingInfo.restaurantName}">음식점 이름</h5>
                        <span th:text="${waitingInfo.restaurantNo}">양식</span> <span>•</span> <span th:text="${waitingInfo.restaurantAddress}">강남구</span>
                    </div>
                </div>
                <button class="btn btn-cancel">웨이팅 취소</button>
            </div>
            <div class="reservation" th:each="reservationInfo : ${member.reservationInfo}">
                <div>
                    <h5 class="d-inline">현재 예약 정보</h5>
                    <span class="badge-reservation mx-2">예약</span>
                    <span th:text="${reservationInfo.reservationDate} + ' ' + ${reservationInfo.reservationTime} + ' 예약'" class="card-time">YYYY/MM/DD HH:mm 예약</span>
                </div>
                <div class="d-flex mt-3">
                    <img th:src="${reservationInfo.restaurantImgUrl}" alt="음식점 사진" class="mr-3">
                    <div class="info">
                        <h5 th:text="${reservationInfo.restaurantName}">음식점 이름</h5>
                        <span th:text="${reservationInfo.restaurantNo}">양식</span> <span>•</span> <span th:text="${reservationInfo.restaurantAddress}">강남구</span>
                    </div>
                </div>
                <button class="btn btn-cancel">예약 취소</button>
            </div>
            <div class="rank">
                <h4>내 등급은 <span th:text="${member.badge}" class="badge-rank">쩝쩝박사</span> 입니다.</h4>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>
        <script type="text/javascript" th:src="@{/js/reservation/reservationCalendar.js}"></script>
    </body>
</html>
