body {
    background-color: #e0e0e0;
    margin-top: 120px;
}

.nav-buttons {
    margin-bottom: 50px;
}

.d-block {
    text-align: center;
}

.nav-buttons .btn {
    background-color: #FA4A54;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-setting {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
}

.nav-buttons .btn:hover {
    background-color: #fff;
    color: #FA4A54;
    border: 1px solid #FA4A54;
}

.btn-secondary, .btn-danger {
    border: none;
}

.btn-secondary:hover, .btn-danger:hover {
    background-color: #fff;
    color: #747474;
    border: 1px solid #747474;
}

.btn-secondary img {
    width: 25px;
    height: 25px;
}

.btn-modify {
    background-color: #FA4A54;
}

.btn-remove {
    background-color: #747474;
    border-color: transparent;
}

.btn-modify:hover {
    background-color: white;
    color: #FA4A54;
    border: 1px solid #FA4A54;
}

.btn-remove:hover {
    background-color: white;
    color: #747474;
    border: 1px solid #747474;
}

.form-section, .menu-list-section {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-section h4, .menu-list-section h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-group-info {
    margin-left: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.menu-item .menu-info {
    flex-grow: 1;
}

.menu-info {
    margin-left: 150px;
}

.file-input {
    display: none;
}

.image-placeholder {
    border: 1px solid #ddd;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}