html, body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.nav-buttons {
    margin-bottom: 50px;
}

.nav-buttons .btn {
    background-color: #FA4A54;  /* 버튼 배경색 */
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-buttons .btn:hover {
    background-color: #d14045;  /* 버튼 hover 시 색상 */
}

.btn-secondary {
    background-color: #FA4A54;
    border: none;
}

.btn-secondary:hover {
    background-color: #d14045;
}

.btn-secondary img {
    width: 25px;
    height: 25px;
}

.waiting-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.waiting-card .row {
    margin: 0;
}

/* 웨이팅 번호 */
.badge-info {
    background-color: #17a2b8;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em; /* 크기 증가 */
}

/* 스타일 통일 */
.waiting-card .col-data p {
    font-weight: 600;
    font-size: 1.1em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
}

/* 대기 시간 색상 강조 */
.waiting-card .col-sm-3-time p {
    color: #dc3545;
}

/* 버튼 크기 및 스타일 조정 */
.waiting-card .actions .btn {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-setting {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
}