<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body>
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light fixed-top navbar-custom">
            <div class="container">
                <!-- 홈 버튼 -->
                <div class="nav-content">
                    <a class="navbar-brand d-flex align-items-left" href="/">
                        <img th:src="@{/images/navbar/honeyJar.png}" width="30" height="30"
                             class="d-inline-block align-top mx-2" alt="홈 아이콘">
                    </a>
                </div>

                <!-- 중앙 요소 -->
                <div class="nav-content">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <span class="brand-text">식덕후</span>
                        <img th:src="@{/images/oku.png}" class="d-inline-block align-top mx-2" alt="홈 아이콘">
                        <span class="brand-text">EATAKU</span>
                    </a>
                </div>

                <!-- 우측 요소 -->
                <div class="nav-content">
                    <div class="d-flex align-items-right">
                        <button class="btn btn-login" type="button" onclick="location.href='/login'">로그인</button>
                        <div class="dropdown ml-3">
                            <button class="btn btn-notify" type="button">
                                <img th:src="@{/images/navbar/notiBell.png}" alt="알림종">
                            </button>
                            <div class="dropdown-wrapper">
                                <div class="dropdown-arrow"></div>
                                <div id="notificationsDropdown" class="dropdown-menu dropdown-menu-right">
                                    <div class="notification-container">
                                        <div class="notification">
                                            <span class="icon">✔️</span> OOO 예약이 확정되었습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">👤</span> OOO 님이 당신을 팔로우 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">➕</span> OOO 님이 리스트에 새 식당을 추가 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">✔️</span> OOO 예약이 확정되었습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">👤</span> OOO 님이 당신을 팔로우 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">➕</span> OOO 님이 리스트에 새 식당을 추가 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">✔️</span> OOO 예약이 확정되었습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">👤</span> OOO 님이 당신을 팔로우 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                        <div class="notification">
                                            <span class="icon">➕</span> OOO 님이 리스트에 새 식당을 추가 했습니다.
                                            <span class="close">&times;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown ml-3">
                            <button class="btn btn-user" type="button">
                                <img th:src="@{/images/navbar/user.png}" alt="사용자">
                            </button>
                            <div class="dropdown-wrapper">
                                <div class="dropdown-arrow"></div>
                                <div id="userMenuDropdown" class="dropdown-menu dropdown-menu-right">
                                    <a th:href="@{/myPage}">
                                        <div class="user-menu">마이페이지</div>
                                    </a>
                                    <a th:href="@{/logout}">
                                        <div class="user-menu">로그아웃</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>
