body {
    margin-top: 170px;
    background-color: #e0e0e0;
    height: 100%;
}
.nav-buttons {
    margin-bottom: 30px;
}
.content {
    min-height: calc(100% - 393px);
}
.nav-buttons .btn {
    background-color: #FA4A54;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-setting {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
}
.btn-setting:hover,
.btn-setting:focus,
.btn-setting:active {
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
}
.nav-buttons .btn:hover {
    background-color: #d14045;
}
.nav-buttons .btn-secondary {
    border: none;
}
.nav-buttons .btn-secondary:hover {
    background-color: transparent;
    border: none;
}
.btn-secondary img {
    width: 25px;
    height: 25px;
}
.btn-add{
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.calendar {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}