body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

aside {
    width: 210px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.chat-container {
    width: 700px;
    height: 550px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-bottom: 8rem;
}

.chat-list {
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

.chat-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #eee;
}

.chat-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.chat-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
    display: flex;
    max-width: 100%;

}

.my-message {
    justify-content: flex-end;
}

.my-message .message-content {
    background-color: #B4B4B8; /* 말풍선 색상 */
    padding: 10px;
    border-radius: 10px;
    position: relative;
    max-width: 100%;
}

.your-message {
    justify-content: flex-start;
}

.your-message {
    justify-content: flex-start;
}

.your-message .message-content {
    background-color: #f1f0f0; /* 말풍선 색상 */
    padding: 10px;
    border-radius: 10px;
    position: relative;
    max-width: 100%;
}

.your-message::before {
    content: "";
    position: absolute;
    top: 50%;


    border-right-color: #f1f0f0; /* 말풍선 색상 */
    border-left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #f1f0f0;
    transform: translateY(-50%);
}

.message-content {
    padding: 10px;
    border-radius: 10px;
}


.chat-input {
    display: flex;
}

.chat-input input {
    flex: 1;
    padding: 10px;
}

.chat-input button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}