.main-container {
    min-height: 60vh;
}

.waiting-container {
    background-color: #ffffff;
    margin-top: 120px;
    min-height: 100%;
}

#waiting-card-container {
    min-height: 100%;
}

.nav-buttons {
    margin-bottom: 50px;
}

.nav-buttons .btn {
    background-color: #FA4A54;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-buttons .btn:hover {
    background-color: #d14045;
}

.btn-secondary {
    background-color: #FA4A54;
    border: none;
}

.btn-secondary:hover {
    background-color: #d14045;
}

.btn-secondary img {
    width: 25px;
    height: 25px;
}

.waiting-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.waiting-card .row {
    margin: 0;
}

.waiting-card .col-data {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #484848;
    border-radius: 5px;
}

.waiting-card p {
    margin: 0;
}

.waiting-card .actions {
    border: none;
    padding: 0;
}

.waiting-card .actions .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-setting {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 5px;
}

.waiting-no {
    background-color: #007bff;
    color: #FFFFFF;
    border: 1px solid #007bff !important;
}