<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/list/reviewDetail.css}">

</head>
<body>

<div th:replace="~{/fragment/navbar.html :: navbar}" class="navbar"></div>
<div class="container">
    <h2 class="review-title" style="text-align:left; color: #FA4A54;">리뷰 상세</h2>

    <div class="review-item row">
        <div class="col-md-3">
            <img src="image1.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스</span>
                </div>
                <div class="badge-container ml-auto">
<!--                    <span class="badge-custom">별점</span>-->
                    <span class="star-rating">4.5<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>음식도 맛있고 직원분들도 친절하고 분위기도 쾌적하네요 집 근처에 없는 게 너무 아쉽네요 ㅠㅠ 매일 가서 먹고싶어요.</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>

    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
    <div class="review-item row">
        <div class="col-md-3">
            <img src="image2.jpg" alt="Review Image" class="review-image">
        </div>
        <div class="col-md-9">
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">가게명</span>
                    <span>밍글스 2</span>
                </div>
                <div class="badge-container ml-auto">
                    <span class="badge-custom">별점</span>
                    <span class="star-rating">1<i class="fa fa-star"></i></span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">태그</span>
                </div>
                <div class="content-text">
                    <span>친절해요, 맛있어요, 분위기가 좋아요, 다시 갈래요, 쾌적해요</span>
                </div>
            </div>
            <div class="review-details">
                <div class="badge-container">
                    <span class="badge-custom">작성한 내용</span>
                </div>
                <div class="content-text">
                    <span>맛도 없고 직원들도 친절하지 않고 더럽네요 오지 마세요</span>
                </div>
            </div>
            <div class="review-buttons">
                <button class="btn btn-info btn-info-custom">식당 정보 보기</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/fragment/footer.html :: footer}" class="footer"></div>

<script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
