<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>메인 페이지</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
        <link rel="stylesheet" th:href="@{/css/restaurant/main.css}">
    </head>
    <body>
    <div th:replace="~{fragment/navbar.html :: navbar}" class="navbar"></div>
        <div class="container content">
            <div class="nav-buttons">
                <button type="button" class="btn btn-danger" onclick="window.location.href='/restaurant/main'">판매 내역</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='/restaurant/reservationCheck'">예약 확인</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='/restaurant/reservationUpdate'">예약 상태</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='/admin/waitingList'">웨이팅 상태</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='/restaurant/review'">매장 리뷰</button>
                <div class="btn-group float-right">
                    <button type="button" class="btn-setting btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="@{/images/setting.png}" alt="설정" class="glyphicon glyphicon-cog" aria-hidden="true">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/restaurant/infoUpdate">매장 정보 수정</a>
                        <a class="dropdown-item" href="/restaurant/menu">메뉴 수정</a>
                        <a class="dropdown-item" href="/restaurant/preview">화면 보기</a>
                    </div>
                </div>
            </div>
            <div class="card-date p-3">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label for="startDate">일자</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="startDate">
                    </div>
                    <div class="col-auto">
                        <label for="endDate">~</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" class="form-control mb-2" id="endDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-bordered m-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>판매일</th>
                                            <th>인원수</th>
                                            <th>이용 시간</th>
                                            <th>이용 방식</th>
                                        </tr>
                                    </thead>
                                    <tbody id="salesTableBody">
                                        <tr th:each="sale:${sales}" class="tableData">
                                            <input type="hidden" th:value="${sale.customerName}">
                                            <input type="hidden" th:value="${sale.customerContact}">
                                            <input type="hidden" th:value="${sale.usageType}">
                                            <input type="hidden" th:value="${sale.numberOfPeople}">
                                            <input type="hidden" th:value="${sale.usageCount}">
                                            <td th:text="${sale.salesDate}"></td>
                                            <td th:text="${sale.numberOfPeople}"></td>
                                            <td th:text="${sale.usageTime}"></td>
                                            <td th:text="${sale.usageType}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="customer-info" id="customerInfo">
                        <div class="card">
                            <h5 class="card-title">고객 정보</h5>
                            <p id="customerName">고객명: </p>
                            <p id="customerContact">연락처: </p>
                            <p id="usageType">이용방식: </p>
                            <p id="numberOfPeople">인원수: </p>
                            <p id="usageCount">이용횟수: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragment/footer.html :: footer}" class="footer"></div>


        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>
        <script type="text/javascript" th:src="@{/js/restaurant/main.js}"></script>
    </body>
</html>
