<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>리뷰 내역</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/management/reviewList.css}">
</head>
<body>

<div th:replace="~{/fragment/navbar.html :: navbar}" class="navbar"></div>
<div class="container">
    <div class="nav-buttons">
        <button type="button" class="btn">판매 내역</button>
        <button type="button" class="btn">예약 확인</button>
        <button type="button" class="btn">예약 상태</button>
        <button type="button" class="btn">웨이팅 상태</button>
        <button type="button" class="btn">매장 리뷰</button>
        <button type="button" class="btn-setting btn-secondary float-right">
            <img src="img/setting.png" alt="설정" aria-hidden="true">
        </button>
    </div>
    <h3>리뷰 내역</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">리뷰 No</th>
                <th scope="col">작성자</th>
                <th scope="col">리뷰내용</th>
                <th scope="col">태그</th>
                <th scope="col">별점</th>
                <th scope="col">작성일</th>
                <th scope="col">신고</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>yoaruku</td>
                <td>맛있고 분위기도 좋아요</td>
                <td>맛있어요<br>분위기가 좋아요<br>친절해요</td>
                <td class="star-rating">★★★★★</td>
                <td>2024-06-29</td>
                <td>
                    <button class="btn btn-danger btn-sm">신고</button>
                </td>
            </tr>
            <!-- 추가 리뷰 항목을 이곳에 추가하세요 -->
            </tbody>
        </table>
    </div>
</div>
<div th:replace="~{/fragment/footer.html :: footer}" class="footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{js/fragment/navbar.js}"></script>
</body>
</html>
