/* General styles */
body {
    background-color: #ffffff;
    text-align: center;
    margin-top: 120px;
    min-width: 550px;
}
a:hover {
    text-decoration: none;
}
.container>h5 {
    margin-left: 15px;
}
.logo {
    width: 50px;
    margin-bottom: 10px;
}
.search-bar {
    margin: 20px 0;
    position: relative;
    margin-bottom: 60px;
}
.search-bar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #FA4A54;
    border-radius: 20px;
}
.search-bar img {
    width: 25px;
    position: absolute;
    right: 21%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons img {
    width: 65px;
    margin: 0 20px;

}
.icon-texts {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.icon-texts .text {
    width: 75px;
    min-width: 75px;
    margin: 0 15px;
}
.carousel-popular,
.carousel-busiest,
.carousel-direct {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
    overflow: hidden;
    margin-left: 15px;
}
.none-data {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    margin-left: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 200px;
}
.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.fab-button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FA4A54;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}
.fab-button:hover {
    background-color: #FF7A7A;
}
.fab-button img {
    width: 25px;
    transition: transform 0.3s ease; /* Transition for rotation */
}
.fab-button.active img {
    transform: rotate(45deg); /* Rotate the button when active */
}
.fab-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
    pointer-events: none; /* Initially disable pointer events */
}
.fab-menu-item-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    float: right;
    transform: translateY(75px);
    opacity: 0;
    z-index: 998;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.fab-menu.active .fab-menu-item-container {
    transform: translateY(0);
    opacity: 1;
}
.fab-menu.active {
    pointer-events: all; /* Enable pointer events when active */
    display: flex;
}
.fab-menu-item-container span {
    margin-right: 10px;
}
.fab-menu-item {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FA4A54;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    z-index: 10;
}
.fab-menu-item:hover {
    background-color: #FF7A7A;
}
.fab-menu span {
    margin-left: 10px;
    color: #FA4A54;
    font-weight: bold;
}
.fab-menu-item img {
    width: 50px;
}

.icon-texts .text,
.icon-texts .text:hover {
    text-decoration: none;
    color: #484848;
}

/* 추가된 CSS */
.card {
    flex: 0 0 30%;
    width: 20%;
    height: 350px;

    border: none;
    border-radius: 10px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    position: absolute;
    display: flex;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    max-height: 200px;
}

.card-body {
    padding: 15px;
    text-align: left;
    overflow: scroll;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
}

.rating {
    font-weight: bold;
}
.star {
    color: #FFD700;
}

.address {
    color: #999;
    font-size: 12px;
    margin: 10px 0;
}

.tags {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #000;
}

.tags span {
    margin-right: 5px;
}

.plus-button {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
.plus-button {
    width: 15px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.heart-icon:hover {
    transform: scale(1.1);
}

.heart-icon.full {
    color: #FF5252;
}

/* 말풍선 버튼 */
.bubble-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid #FA4A54;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 10;
    min-width: 120px; /* 말풍선의 최소 너비 설정 */
}

.bubble-menu::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FA4A54 transparent transparent transparent;
}

.bubble-option {
    color: #FA4A54;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.bubble-option + .bubble-option {
    border-top: 1px solid #FA4A54;
}

.bubble-option:hover {
    background-color: #FA4A54;
    color: white;
}

.hidden {
    display: none;
}

.prev {
    border: solid 1px #FA4A54;
    border-radius: 100%;
    color: #FA4A54;
    position: absolute;
    left: 0%;
    transform: rotate(180deg); /* 수직 중앙 정렬 보정 */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    background-color: #fff;
}
.prev img {
    width: 15px;
}

.next {
    border: solid 1px #FA4A54;
    border-radius: 100%;
    color: #FA4A54;
    position: absolute;
    right: 0%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    background-color: #fff;
}
.next img {
    width: 15px;
}
.card-title {
    margin-bottom: 0;
}
.card-rating {
    text-align: right;
}