<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웨이팅 등록</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/fragment/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/fragment/footer.css}">
    <link rel="stylesheet" th:href="@{/css/waiting/waitingFormPage.css}">
</head>

<body>
<div th:replace="~{fragment/navbar.html :: navbar}" class="navbar"></div>

<div class="main-content text-center">
    <div>
        <div class="counter">
            <button id="decrease" class="btn btn-outline-secondary" aria-label="인원 감소">-</button>
            <span id="partySize">0</span>
            <button id="increase" class="btn btn-outline-secondary" aria-label="인원 증가">+</button>
        </div>
        <button id="register" class="btn btn-secondary register-button" disabled>웨이팅 등록하기</button>
    </div>
</div>

<div th:replace="~{fragment/footer.html :: footer}" class="footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/fragment/navbar.js}"></script>

<script type="text/javascript">
    const memberNo = [[${memberNo}]];
    const restaurantNo = [[${restaurantNo}]];
</script>

<script type="text/javascript" th:src="@{/js/waiting/waitingFormPage.js}"></script>
</body>
</html>
