body {
    background-color: #FA4A54;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper {
    width: 100%;
    max-width: 1000px; /* 전체 너비를 줄여 매장 로그인 폼의 비율을 조정 */
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 8px;*/
}
.login-card {
    width: 368px;
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.store-login-card {
    width: 184px;
    background-color: #f8f9fa; /* 부트스트랩의 기본 배경색 사용 */
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}
.login-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*border-radius: 8px;*/
}
.login-card img {
    width: 50px;
    margin-bottom: 20px;
}
.login-card h5, .store-login-card h5 {
    margin-bottom: 10px;
}
.login-card form {
    width: 100%;
}
.login-card .btn {
    width: 100%;
}
.login-card .options {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.store-login-card .btn-store-login {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #333;
    border-color: #333;
}
@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
        border-radius: 8px;
        width: 100%;
    }
    .login-card, .store-login-card {
        border-radius: 8px;
    }
    .login-card {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .store-login-card {
        width: 100%;
        border-top: 1px solid #ddd;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}